.chatMessages-newMessage{
    padding: 5px;
    border-radius: 8px;
    background-color: #DCDCDC; 
    text-align: justify;
    font-size: 1.8vh;
    overflow-wrap: break-word;
}

.chatMessages-spaceBetweenMessages{
    padding: 5px;
}