.chat-chatForm{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 5vw;
    display: flex;


}

.chat-textInput{
    width:70%;
    height: 8vw; 
}

.chat-sendButton{
    border-style: none;
    border-radius: 5px;
    background-color:#EC9993;
}

