.tenderUserMessage{
    font-family: 'Montserrat', sans-serif;
    color: 	#303030;
    font-size: 16px;
    overflow-wrap: break-word;
    text-align: justify;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    background-color: #efa9a4; 
    box-shadow: 3px 4px #E8E8E8;
}

.tenderUserMessage-spaceBetween{
    padding: 10px;
}

.tenderUserMessage-Row{
    margin-bottom: 10px;
    /* overflow:auto */

}