/* General Sytles*/

/*------Container------*/
body{font-family: 'Montserrat', sans-serif;}

.container {  width: 80%; margin: 0 auto; text-align: center; position:relative;}

.mainImage {
    width:35%;
    border: 5px solid black;
}

button{
    background-color: #EC9993;
    color:white;
    font-weight:bold;
    border:none;
    padding:10px;
    cursor:pointer;
}

.moreInfo {  display: inline-block;  margin: 2% auto;  text-align: justify; }
.moreInfo h2{ text-align: center;}
.none{ display:none; transition: all 0.8s ease;}

.swipe-area {
    display: flex;
    justify-content: center;
    align-items: center;
}