main{ margin-top: 75px; border-bottom:1px solid #EC9993}

.navBarCustom{
    position : absolute;
    width : 99%;
    z-index: 10;
    text-align: center;
    background-color: white; 
}

.navbar-icon{
        width: 50px;
        height:50px;
}

.logo-tender{
    color: #EC9993; 
    opacity:0.9;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.link-menu{
   font-size: 1.2em;
   color:#EC9993 ;
}

/*navbar little changes*/
.fixed-top{ padding-bottom: 0px!important;}
.navbar-toggler:hover, .navbar-toggler:focus { outline: 0;}
span.navbar-toggler-icon:focus {outline: 0;}
.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active { color: #EC9993!important;}

