.navBarCustom{
    position : absolute;
    width : 100%;
    z-index: 10;
    text-align: right;
    background-color: white;
    padding-right: 20px;
}

.logo-tender{
    color: #EC9993; 
    font-weight:bold;
    font-size: 3em;
}

.link-menu{
   font-size: 1.2em;
   color:#EC9993 ;
}

