.navBarCustom{
    position : absolute;
    width : 99%;
    z-index: 10;
    text-align: center;
    background-color: white; 
}

.navbar-icon{
        width: 50px;
        height:50px;
}

.logo-tender{
    color: #EC9993; 
    opacity:0.9;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.link-menu{
   font-size: 1.2em;
   color:#EC9993 ;
}


