.settings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 20vh;
    background-image: url(https://i.imgur.com/kXBNh0H.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 60%;
}

.looking-for {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: black;
    justify-content: center;
}

.settingsItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: left;
    color: black;
    width: 130px;
}

.first-setting {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 50%;
    font-size: 18px;
    padding-top: 5vh;
    border-bottom-style: solid;
    border-color: #a6a6a6;
    border-width: 1px;
}

.setting {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 50%;
    font-size: 18px;
    border-bottom-style: solid;
    border-color: #a6a6a6;
    border-width: 1px;
}

.last-setting {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 50%;
    font-size: 24px;
}

.settings-container {
    padding: 20vh 0;
    align-items: center;
}
.first-setting {
    width: 20%
}
.setting {
    width: 20%;
}
.last-setting {
    width: 20%;
}


.ui.toggle.checkbox input:checked ~ .box::before, .ui.toggle.checkbox input:checked ~ label::before {
    background-color: #E94B65!important;}

.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #E94B65!important;}

@media only screen and (max-width: 600px) {

    .first-setting {
        width: 80%;
    }
    .setting {
        width: 80%;
    }
    .last-setting {
        width: 80%;
    }
    .settings-item {
        text-align: left;
    }


}

@media only screen and (max-width: 425px) {
    .settings-container{  background-size: 0px;}
}
