.settings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 25vh;
    background-image: url(https://i.imgur.com/OZvlyMS.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 24px;
    color: #fd267d; 
}

.settingsItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #ff7854;
}

.setting {
    display: flex;
    padding: 21px;
    width: 12%;
    font-size: 24px;
    border-bottom-style: solid;
    border-color: #cccccc;
    border-width: 1px;
}


.ui.toggle.checkbox input:checked ~ .box::before, .ui.toggle.checkbox input:checked ~ label::before {
    background-color: #E94B65!important;}

.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #E94B65!important;}


.settingsItem{
    width: 130px;
}